p{
    margin:0;
}
.hatter{
    width:95%;
    margin:10px auto 0 auto;
}
button{
    margin: 5px auto 0 auto;
    display: block;
}

textarea{
    max-width:300px;
    display:block;
    margin: 0 auto;
}